*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgba(90, 2, 2, 0.357),rgba(90, 2, 2, 0.357));
  }
  
  .calculator-grid {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(120px, auto) repeat(6, 80px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 3px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 5px;
    color: rgba(90, 2, 2, .8);
    background: rgb(100,100,100) radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
    box-shadow:
     inset rgba(0,0,0,.6) 0 -3px 8px,
     inset rgba(252,255,255,.7) 0 3px 8px,
     rgba(0,0,0,.8) 0 3px 8px -3px;
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two {
    grid-column: span 3;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 5px  5px 0 0;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }

  .log {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    position: relative;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .log__error {
    margin-left: 5px;
    color: rgba(255, 255, 255);
    font-size: 2rem;
  }

  .delete-btn {
    margin-right: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.7;
    transition: opacity 0.1s linear;
  }

  .delete-btn:hover {
    opacity: 1;
  }