*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    max-width: 1600px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

header {
    max-width: 1600px;
    height: 95px; 
    margin: 0 auto;
}

.header-nav {
    height: 95px;
    width: 800px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
}

a {
    padding-right: 10px;
    font-size: 12px; 
    letter-spacing: 0.05px;
 }
 
 a:hover {
       color: #767e9e;  
 }
 
 h1 {
    
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-align: center;
    text-transform: uppercase;
 }
 
.YourLife {
    width: 1600px;
    height: 744px;
    margin: -95px auto;
    display: flex;
    justify-content: center;
    background-image: url(./assets/bg-image-wrapper.png);
}

.YourLife-content {
    margin-top:  228px;
    margin-left:  5px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #fff;
}

.block-text {
    margin-top: 23px; 
    margin-left: 115px; 
    width: 500px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

.btn {
    width: 184px;
    height: 46px;
    margin-top: 32px; 
    margin-left: -3px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
}
.get {
    background-color: #00AFDB;
}
.get:hover {
    background: #0ba3c9;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.51);
}
.social-media {
    margin-top: 183px;
    margin-left: 19px; 
}
object {
    margin-right: 25px; 
 }

object:hover {
    cursor: pointer;
    background-color: #00AFDB;
    border-radius: 20px;
}

.Rappresent {
    width: 1600px;
    height: 842px;
    display: flex;
    justify-content: center;
}

.Rappresent-content {
    margin-top: 215px;
    margin-left: 20px;
    width: 1090px;
}

h2 {
    display: block;
    width: 370px;;
    padding-top: 175px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

.block-text2 {
    margin-top: 20px;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: .27px;
    text-align: left;
}

.left10 {
    margin-left: 9px;
}

.img-1 {
    padding-left: 240px;
    padding-right: 24px;
}

.OurCommunity {
    margin-top: 215px;
    width: 1600px;
    height: 504px;
    background-color: #F5F6F7;
}

.fourth {
    width: 1600px;
    height: 842px;
}

.fifth {
    width: 1600px;
    height: 524px;
    background-image: url(./assets/pexels-christina-morillo.png);
}

.sixth {
    width: 1600px;
    height: 464px;
    background-color: #F5F6F7;
}

.footer {
    width: 1600px;
    height: 185px;
    background-color: #000000; 
}